/****************\
  Slides Element
\****************/

.slides-element__slide {
	margin-top: 20px;
	margin-bottom: 20px;
}

.slides-element__slide.even {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	background-attachment: fixed;
}

.slides-element__slide img {
	width: 100%;
}

.slides-element__slide .btn {
	margin-top: 10px;
	text-shadow: none;
	padding: 6px 20px;
}

@media (min-width: 576px) {
	.slides-element__slide .btn {
		margin-top: 25px;
	}
}

/*********************\
  Image Boxes Element
\*********************/

@media (max-width: 575px) {
	.image-boxes-element {
		overflow-x: visible;
	}
	.image-boxes-element > .row {
		display: block;
	}
	.image-boxes-element__box {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.image-boxes-element__box {
	display: block;
	background: #fff;
	border-bottom: none;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
}

.image-boxes-element__box__content {
	padding: 0 20px;
	text-align: center;
	color: #252525;
	font-size: 18px;
	font-weight: 700;
	-webkit-transition: color 250ms;
	transition: color 250ms;
}

/***********************\
  Media Gallery Element
\***********************/

.media-gallery-box {
	text-align: center;
}

.media-gallery-box__link {
	display: inline-block;
	color: #444;
	opacity: 1;
	transition: opacity 250ms;
	max-width: 320px;
}

.media-gallery-box__link:hover {
	opacity: 0.75;
}

.media-gallery-box__thumbnail {
	position: relative;
}

.media-gallery-box .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	opacity: 0.9;
	width: 25px;
	height: 25px;
	font-size: 22px;
	line-height: 27px;
	margin: -12px 0 0 -12px;
}

@media screen and (min-width: 768px) {
	.media-gallery-box .fa {
		width: 50px;
		height: 50px;
		font-size: 44px;
		line-height: 50px;
		margin: -25px 0 0 -25px;
	}
}

.media-gallery-box--video .fa:before {
	position: relative;
	left: 0;
}

.media-gallery-box__title {
	display: block;
	text-align: left;
}
